h1{
    border-style: solid;
    border-color: rgb(12, 12, 12); 
    margin-left: auto; 
    border-width: 10px;
   text-align: center;
    background-color: rgb(16, 239, 19);
    
}
.font{
    font-size: 30px;
}
body{
    background-color: lightpink;
}